li {
    list-style: none;
}

body {
    margin-left: 200px;
    margin-right: 200px;
    border: 4px solid black;
}

.C {
    float: left;
    margin-left: 140px;
}

.D {
    margin-left: 125px;
}

.b {
    margin-left: 20px;
}

.E {
    margin-left: 10px;
}

.R {
    margin-left: 160px;
}

.T {
    margin-left: 120px;
}

.css {
    text-align: center;
    padding: 15px;
}